%tr
  %td
    = image_tag badge.image_url
    = badge.name
  %td= badge.description
  %td= badge.award.title unless badge.award.nil?
  %td= badge.value.name unless badge.value.nil?
  %td= link_to 'More',  'javascript:void(0)', class: 'js-show-badge-details'
%tr.badge-details
  = render partial: 'details', locals: { badge: badge }
