= content_for :user_details do
  = render partial: 'shared/user_details'
= content_for :actions do
  = render partial: 'shared/actions'

= render partial: 'badges_list', locals: { badges: @badges }

= render 'shared/admin_footer'
