.row
  .col-md-12
    .span12.badges
      %header.badges-header-container
        %h3.badges-header
          %span.badges-header-image
          %span.badges-title All badges
        %span.badges-count
          = badge_totals(current_user)
          Badges earned
        %ul.badges-menu
          %li
            = link_to 'Back to my Badges', badges_user_path(current_user),
              class: 'badges-first-link'
          %li.last
            = link_to 'Back to my Dashboard', user_path(current_user),
              class: 'badges-last-link'
          .badges-header-decorator
      %section
        .search
          %p.search-info
            %span.search-earned-ico
            %span.search-earned Earned
          = form_tag(badges_path, method: :get, class: 'search-form') do
            = label_tag :search, 'Search', class: 'search-form-label'
            = text_field_tag :search, params[:search],
              class: 'search-form-control'
            = button_tag "Search", :name => nil, class: 'hide'
            -#= label_tag :sort, 'Sort by:', class: 'search-form-label'
            -#= select_tag :sort, "<option>%#{params[:sort]}%</option><option>2</option><option>3</option><option>4</option>".html_safe,
              -#class: 'search-form-control'
            -#= text_field_tag :sort, params[:sort],
              -#class: 'search-form-control'
            -#= button_tag "Sort", :name => nil, class: 'hide'
          %p.search-proposals
            = link_to 'Nominate someone', '#',
              class: 'search-proposals-nominate'
            = link_to 'Propose a badge', '#',
              class: 'search-proposals-propose'
      = render partial: 'shared/nominee_user'
      = render partial: 'shared/propose_badge'
      %section
        .badges-all
          = show_badges
      %footer.badges-footer-separator
        %p
          Total
          = pluralize(@badges.size, 'badge')
        .badges-footer-icon
