.row
  .col-md-12
    .span12.badges
      %header.badges-header-container
        %h3.badges-header
          %span.badges-header-image
          %span.badges-title Badge details
        %span.badges-count= @badge.name
        %ul.badges-menu
          %li
            = link_to 'Back to my Badges', badges_user_path(current_user),
              class: 'badges-first-link'
          %li.last
            = link_to 'Back to my Dashboard', user_path(current_user),
              class: 'badges-last-link'
          .badges-header-decorator
      %section
        .search
          %p.search-info
            %span.search-earned-ico
            %span.search-earned Earned
          = form_tag(badges_query_path, method: :get, class: 'search-form') do
            = label_tag :search, 'Search', class: 'search-form-label'
            = text_field_tag :search, params[:search],
              class: 'search-form-control'
            = label_tag :sort, 'Sort by:', class: 'search-form-label'
            = text_field_tag :sort, params[:search],
              class: 'search-form-control'
          %p.search-proposals
            = link_to 'Nominate someone', '#',
              class: 'search-proposals-nominate'
            = link_to 'Propose a badge', '#',
              class: 'search-proposals-propose'
            = link_to 'Vote MVP', votations_path,
              class: 'search-proposals-mvp'
      = render partial: 'shared/nominee_user'
      = render partial: 'shared/propose_badge'
.row
  .col-md-3
    %aside.span3.badge-sidebar
      = render partial: 'badge', collection: @badges
  .col-md-9
    .span9.badge-presenter
      .row
        .col-md-12
          .badge-presenter-image
            = image_tag @badge.image_url, { class: unknown_image?(@badge) }
            = render_partial?(@badge.users, 'earned')
          .badge-presenter-info
            %h1.badge-presenter-title= @badge.name
            %strong Description:
            %p= @badge.description
            %hr.badge-presenter-separator
            %strong Values:
            %p= show_value(@badge.value)
            %hr.badge-presenter-separator
            %strong Path:
            = render_partial?(@badge.users, 'social_media')
    .span9.badge-winners
      %header.badge-winners-header
        %h3.badge-winners-title Who else has it?
        %p.badge-winners-description
          = pluralize(@badge.users.count, 'Crowdie')
          have earn this badge
      %section.badge-winners-users
        - @badge.users.each do |user|
          .badge-winners-user
            = image_tag user.picture_url, size: '100x100',
              class: 'badge-winners-user-image'
            %strong.badge-winners-user-name= user.name
.row
  .col-md-12
    %footer.badges-footer-badge
      .badges-footer-icon
