= content_for :user_details do
  = render partial: 'shared/user_details'
= content_for :actions do
  = render partial: 'shared/actions'
.admin-list
  %header
    %h1 All previous votations
    = link_to 'Create a new votation', new_admin_votation_path, class: 'mvp-orange'
    = link_to 'Check current votations', admin_votations_path, class: 'mvp'
  - if @votations.any?
    %table.table
      %tbody
        %tr
          %th Badge
          %th Active
          %th Date
          %th Manage module
      %tbody
        - @votations.each do |votation|
          %tr
            %td= votation.badge.name
            %td= votation.is_open
            %td= votation.date
            %td
              = link_to 'Delete', admin_votation_path(votation),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'action-control-section'
              |
              = link_to 'Check votation info', admin_votation_path(votation), class: 'action-control-section'
  - else
    %h3 We don't have archived votations (╯°□°)╯︵ ┻━┻
