.container.user-container
  .edit-user-info
    %header
      .head-title
        %span.badges-header-image
        %h1 Edit user info
      .header-actions
        = link_to 'Back to Dashboard', user_path(@user)
        - if current_user.is_admin?
          |
          = link_to 'Back to Admin', admin_users_path
    = simple_form_for @user do |f|
      - if can_edit_all?
        .col-sm-12
          %h4= f.input :name
        .col-sm-12
          %h4= f.input :bio
        .col-sm-6
          %h4 Skills
          .panel.panel-default
            .panel-body
              = f.association :skills,
                as: :check_boxes,
                collection: get_skills(@user.department),
                label: false
          - if current_user.is_admin?
            %h4 Privileges
            .panel.panel-default
              .panel-body
                = f.association :roles, as: :check_boxes, label: false
      - if can_edit_badges?
        - if needs_extra_name_field?
          .col-sm-12
            %h4= f.input :name, disabled: true
        .col-sm-6
          %h4 Badges
          .panel.panel-default
            .panel-body
              = f.association :badges, as: :check_boxes, label: false
      .col-sm-12
        .edit-user-actions
          = link_to 'Cancel', edit_user_path(@user), class: 'btn btn-disabled'
          = f.submit 'Save', class: 'btn'

%footer.user-footer
  .users-footer-icon
