.row
  %aside.col-md-3
    = render partial: 'profile', locals: { user: @user }
  %section.badges.col-md-9.module-separation
    .row
      %header.badges-header-container
        %h3.badges-header
          %span.badges-header-image
          %span.badges-title My Badges
        %ul.badges-menu
          %li
            = link_to 'Check all my badges', badges_user_path(@user),
              class: 'badges-first-link'
          %li.last
            = link_to 'Check all badges', badges_path,
              class: 'badges-last-link'
        .badges-header-decorator
    .row
      .badges-all
        = show_badges
    .row
      %footer.badges-footer
        %p
          Displaying my last
          = pluralize(@badges.size, 'badge')
        .badges-footer-icon
  %section.workshops.col-md-9.module-separation
    .row
      %header.workshops-header-container
        %h3.workshop-header
          %span.workshop-header-image
          %span.workshops-title Available Workshops
        %ul.workshops-menu
          %li
            = link_to 'Active workshops', workshops_path(active: true),
              class: 'badges-first-link'
          %li.last
            = link_to 'All workshops', workshops_path,
              class: 'workshops-last-link'
        .workshops-header-decorator
    .row
      .workshops-all
        = show_last_active_published_workshop
    .row
      - if show_workshop_month
        %footer.workshops-footer
          %p
            Workshops from
            = show_workshop_month
          .workshops-footer-icon
  %section.show-dont-tells.col-md-9.module-separation
    .row
      %header.show-dont-tells-header-container
        %h3.show-dont-tell-header
          %span.show-dont-tell-header-image
          %span.show-dont-tells-title On the next Show don't tell
        %ul.show-dont-tells-menu
          %li
            = link_to 'Active show don\'t tell presentations', presentations_path(active: true),
              class: 'badges-first-link'
          %li.last
            = link_to 'All show don\'t tell presentations', presentations_path,
              class: 'workshops-last-link'
        .show-dont-tells-header-decorator
    .row
      .show-dont-tells-all
        = show_next_wednesday_presentations

    .row
      %footer.show-dont-tells-footer
        %p
          Show don't tells
        .show-dont-tells-footer-icon