%tr
  %td
    = image_tag user.picture_url
    = link_to user_path(user) do
      = user.name
  %td= user.position
  %td
    = link_to 'Edit', edit_user_path(user), class: 'action-control-section'
    - if current_user.is_admin?
      |
      = link_to 'Delete', user_path(user), method: :delete,
                                           confirm: "Are you sure?",
                                           class: 'action-control-section'
